.org-box {
    display: flex;
    border: 1px solid black;
}

.button-box {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.city {
    border: 1px solid black;
    padding: 1rem;
    width: 100px;

}